
 #paisaje{
    padding-left: 700px;
 


 }   
    

#joji{
    width: auto;
    margin: auto;  
    padding-left: 1000px;
    background-color: grey;
}
body{
    background-color: beige;
}
div h1{ 
    text-align: center;
    padding: 20px;
}
p{
    text-align: center;
    font-size: 30px
}